<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-kitchen-set"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="/listings/map"><i class="fa-solid fa-location-dot"></i></a>
              </li>
             
              <li class="nav-item">
                  <a class="nav-link" href="/listings" style="border: 1px solid white";>Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/listings/new "  style="border: 1px solid white";>Creat business account <i class="fa-solid fa-file-invoice"></i></a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="border: 1px solid white";><i class="fa-solid fa-user-plus"></i></a>
                  <ul class="dropdown-menu">
                      <% if(!currUser) { %>
                        <li><a class="dropdown-item" href="/signup">Signup</a></li>
                        <li><a class="dropdown-item" href="/login">Log-in</a></li>
                      <% } %>
                       <% if (currUser) { %>
                        
                      <li><a class="dropdown-item" href="/logout">Log-out</a></li>
                       <% } %>
                      
                  </ul>
              </li>
          </ul>

          <!-- Navbar filter form to select star rating -->
          <form class="d-flex me-3" method="GET" action="/listings/filter">
              <label for="star" class=" star me-2">Filter by star:</label>
              <select name="star" id="star" class="form-select me-2">
                  <option value="5">5 Stars</option>
                  <option value="4">4 Stars</option>
                  <option value="3">3 Stars</option>
                  <option value="2">2 Stars</option>
                  <option value="1">1 Star</option>
              </select>
              <button class="btn btn-dark btn-filter" type="submit">Filter</button>
          </form>

          <!-- Navbar search form -->
          <form class="d-flex" role="search" action="/search" method="GET">
              <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
              <button class="btn btn-dark" type="submit">Search</button>
          </form>
      </div>
  </div>
</nav>
