.navbar{
    height: 5rem;
    background-color: green;
}

.fa-kitchen-set{
    color:black;
    font-size:2rem
}
.nav-link{
    padding: 5px 10px; /* Optional: Adds some padding to make the border more visible */
    border-radius: 5px;
    color:white !important;
    margin-right: 10px; /* Adds space between each nav-link */
    transition: 0.3s ease;
    background-color: green;
}



body{
    background-color:white
    ;
}

.form-select{
    margin-top: 15px;
    height: 40px;
    
}
.btn-filter{
    height: 40px;
    width: 80px;
    margin-top: 15px;
}
.star{
   color:white
}

option{
    color:black
}

/* footer  */
.f-info-links a{
    text-decoration:none ;
    color:#222222

}
.f-info-links a:hover{
    text-decoration:underline;
}

.f-info-links,
.f-info-social,.f-info-brand{
    width:100% ;
    vertical-align:middle ;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.f-info-social i{
   
    font-size:1.2rem ;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #EEEDEB;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: space-evenly;
   
}







/* cards */
.listing-card{
    border:none !important;
    margin-bottom:2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
   font-weight:400 ; 
}
.listing-link{
    text-decoration: none;
}
.fa-location-dot{
    font-size: 2rem;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color:white ;
}

.btn-dark{
    color: white;
  background-color: black!important; 
  border: none !important; 
}

.btn-danger{
    color:white;
    background-color: #222222;
    outline: #222222;
}





/* show page */
.show-img{
    height: 30vh;
}

.btns{
    display:flex;
    padding-left: 15rem ;
    
 
}

.delete-btn{
    position:relative;
    left:40px;

}


.tenor-gif-embed{
    height: 100px;
    width: 100px;
}

.token-delete{
    color: white;
}